<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calorifyi">

    <uses-feature android:name="android.hardware.camera2.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaloriFyi"
        tools:targetApi="31">
        <activity
            android:name=".DietActivity"
            android:exported="false"
            android:label="@string/title_activity_diet"
            android:theme="@style/Theme.CaloriFyi" />
        <activity
            android:name=".AnalysisActivity"
            android:exported="false"
            android:label="@string/title_activity_analysis"
            android:theme="@style/Theme.CaloriFyi" />
        <activity
            android:name=".ProgressActivity"
            android:exported="false"
            android:label="@string/title_activity_progress"
            android:theme="@style/Theme.CaloriFyi" />
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:label="@string/title_activity_camera"
            android:theme="@style/Theme.CaloriFyi" />
        <activity
            android:name=".ReceptionActivity"
            android:exported="false"
            android:label="@string/title_activity_reception"
            android:theme="@style/Theme.CaloriFyi" />
        <activity
            android:name=".ImageView3"
            android:exported="false"
            android:label="@string/title_activity_image_view3"
            android:theme="@style/Theme.CaloriFyi" />
        <activity
            android:name=".PredictionActivity2"
            android:exported="false"
            android:label="@string/title_activity_prediction2"
            android:theme="@style/Theme.CaloriFyi" />
        <activity
            android:name=".ImageView2"
            android:exported="false"
            android:label="@string/title_activity_image_view2"
            android:theme="@style/Theme.CaloriFyi" />
        <activity
            android:name=".ImageView"
            android:exported="false"
            android:label="@string/title_activity_image_view"
            android:theme="@style/Theme.CaloriFyi" />
        <activity
            android:name=".PredictionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CaloriFyi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>